.a_heading{
    display:inline-block;
    margin-left: 10px;
    margin-right: 58rem;
}
.a_button{
    display: inline-block;
    height: 2.5rem;
}
.q_modal-header{
   margin-top: 20px;
}
.btnGrp{
height:5rem;
}
